
.* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	text-align: center;
	color: #333;
  margin: 0;
  color: #4d4d4d;
	-webkit-font-smoothing: antialiased;
}

#overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 5;
    display: none;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

figure {
  position: relative;
  padding: 10px;
  height: 300px;
  /*width: 300px;*/
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 3px 3px 7px #333;
}


figure .destroy {
  visibility: visible;
  position: absolute;
  right: 50px;
  top: 30px;
  font-size: 30px;
}


.zoom{
  margin-top: 20px;
  height: 200px;
  weight: 200px;
}

header {
  height: 80px;
  width: 100%;
  background-color: #eff5f4;
  text-align: left;
  display: inline-flex;
  vertical-align: middle;
  margin-bottom: 20px;
  /*flex-direction: column;*/
  flex-wrap: wrap;
}

h1 {
  margin: 0;
  vertical-align: middle;
  flex-basis: 50%;
  line-height: 80px;
  font-size: 26px;
  color: #9d8e62;
}

#logo {
  margin: 10px;
  margin-left: 40px;
  flex-basis: 50%;
}

#form {
  display: inline-flex;
  text-align: center;
  margin: 20px auto;
  flex-wrap: nowrap;
}

input {
  height: 28px;
  width: 180px;
  font-size: 16px;
  padding-left: 10px;
  border: 1.5px solid #ccc;
}

#new-food:focus {
  outline: none;
  border: 1.5px solid #00cc99;
}

button {
  text-align: center;
  height: 32px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  box-shadow: 1px 1px 5px #888;
  color: #fff;
  background-color: #00994d;
  border: 0;
  cursor:  url(imgs/pointer.png), auto;
}

.text-style {
  padding-left: 10px;
  font-size: 16px;
  color: #fff;
}

button:active {
  background-color: #ffecb3;
  color: #00994d;
  box-shadow: 3px 3px 8px #888;
}

button:active .text-style{
  color: #00994d;
}

#dailyTotal {
  color:#9d8e62;
  font-size: 18px;
}

.title {
  display: inline-flex;
  line-height: 0px;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Force table to not be like tables anymore */
 table, thead, tbody, th, td, tr {
		display: block;
	}
#tableHeader {
  border: none;
}
/* Hide table headers (but not display: none;, for accessibility) */
#tableHeader th:nth-child(1) {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#tableHeader th:nth-child(2) {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#tableHeader th:nth-child(3) {
	position: absolute;
	top: -9999px;
	left: -9999px;
}


#tableHeader th:nth-child(4)  {
  right: 10px;
  border: none;
  width: 100%;
}

tr:nth-child(1) {
  border-top: 1px solid #ccc;
}

tr {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

td {
		border: none;
		position: relative;
    height: auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
    padding: 0;
	}

tr td:nth-child(1) {
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 20px;
    order: 1;
    flex-basis: 80%;
    margin-left: 10px;
}

tr td:nth-child(2) {
  padding: 0;
  padding-left: 50px;
  order: 3;
  margin-left: 10px;
}

tr td:nth-child(3) {
  order: 2;
  padding: 0;
  padding-top: 20px;
  margin-right: 20px;
  text-align: right;
  flex-basis: 10%;
}

tr td:nth-child(4) {
  order: 4;
  padding: 0;
  text-align: right;
  margin-right: 30px;
  font-size: 25px;
}

#clear {
  width: 15%;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
  color: #00994d;
  cursor:  url(imgs/pointer.png), auto;
}

#clear:active {
  color: #ffecb3;
}

td {
  padding: 10px;
  text-align: left;
  font-size: 16px;
  height: 40px;
}

.food:nth-child(even) {
  background-color: #f9f9f9;
}

.daily-food div {
  height: 40px;
  background-color: #888;
  margin: 10px;
}

.thumb {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin-right: 20px;
  border-radius: 40%;
  cursor: url(imgs/pointer.png), auto;
}

.destroy {
  color: #888 ;
	cursor:  url(imgs/pointer.png), auto;
  color: #00994d ;
}

.destroy:active {
  color: #ffecb3;
}

#list {
  position: relative;
  height: 0;
}

#optionList {
  display: none;
  position: relative;
  height: 350px;
  width: 294px;
  overflow: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  font-size: 16px;
  background-color: #fff;
  margin: 0 auto;
  margin-left: -297px;
  margin-top: 35px;
  z-index: 2;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 7px #ccc;
}

#optionList li {
  list-style: none;
  border-bottom: 1px solid #cfdee2;
  padding:10px;
  text-align:left;
  text-indent: 0;
  left: 0;
  padding-left: 30px;
  cursor:  url(imgs/pointer.png), auto;
}

#optionList li:active {
  background-color: #fff;
  color: #00cc99;
  font-weight: 800;
}

.removedItem {
    animation: removed-item-animation 1s;
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    40% {
      opacity: 0.3;
      transform: scale(0.3);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

#listCopy {
  display: none;
  position: relative;
  height: 0;
}

#optionListCopy {
  position: relative;
  display: none;
  width: 420px;
  padding: 10px;
  line-height: 35px;
  font-size: 16px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 5px;
  z-index: 1;
}

#optionListCopy li {
  list-style: none;
  text-align:left;
  text-indent: 0;
  left: 0;
  padding-left: 30px;
  color: #00cc99
}

@keyframes color {
  from {color: #00cc99;}
  to {color: #333;}
}

.colorChanged {
  animation-name: color;
  animation-duration: 3s;
}

figure.destroy {
  visibility: visible;
}
